{% extends 'basketapp/base.html' %}
{% load static %}

{% block container %}
    <div class="basket_list ">
        {% include 'basketapp/includes/inc__basket_list.html' %}
    </div>

    {% if basket %}
        <a href="{% url 'ordersapp:order_create' %}" class="btn btn-outline-secondary">
            make order
        </a>
    {% else %}
        <p>Basket is empty.</p>
    {% endif %}

    <a href="{% url 'main:index' %}" class="btn btn-outline-secondary">
        home
    </a>
{% endblock %}
