{% extends 'adminapp/base.html' %}
{% load staticfiles %}


{% block container %}
    <div class="user_delete">
{#        Are you sure, if you want to delete <b>{{ category_to_delete.name }}</b>?#}
        Are you sure, if you want to delete <b>{{ object.name }}</b>?
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="delete">
        </form>

        <a href="{% url 'admin:categories' %}" class="form-control last btn btn-success">cancel</a>
    </div>
{% endblock %}