{% extends 'adminapp/base.html' %}
{% load static %}


{% block container %}
    <div class="user_delete">
        Are you sure, if you want to activate <b>{{ user_to_activate.username }} {% if user_to_activate.first_name %}
                    ({{ user_to_activate.first_name|title }}</b>
                    {% if user_to_activate.last_name %}
                        {{ user_to_activate.last_name|title }}
                    {% endif %})
                {% endif %}?
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="activate">
        </form>

        <a href="{% url 'admin:index' %}" class="btn btn-success">cancel</a>
    </div>
{% endblock %}